#main {
    h2 {
        text-align: center;
        padding-top: 50px;
        font-size: 60px;
        font-family: 'Itim', cursive;
    }
    
    .htmlcssjs {
        text-align: center;
        box-sizing: border-box;
        padding-top: 50px;

        @media screen and (min-width: 1000px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        div {
            i {
              font-size: 200px;

              @media screen and (min-width: 1400) {
                font-size: 100px;
            }
            }
            p {
                padding-bottom: 30px;
                font-size: 50px;
            }
        }
        .fa-html5 {
            color: orange;
        }

        .fa-css3-alt {
            color: blue;
            margin-right: 20px;
        }

        .fa-sass {
            color: violet;
            margin-left: 20px; 
        }

        .fa-js {
            color: yellow;
        }
        
        .jquery {
            img {
                width: 300px;
                height: 400px;
                margin-bottom: -100px;
                margin-top: -100px;
            }
        }

        .fa-git {
            color: brown;
        }
    }

    #project {
        background-color: rgb(245, 245, 245);
        padding-bottom: 50px;
   
        p {
            text-align: center;
            font-size: 30px;
            color: grey;
        }

        .einkaufsliste {

             .txt {
                text-decoration: line-through;
              }
          
              .fa-trash-alt {
                position: absolute;
                right: 10px;
                cursor: pointer;
                color: red;
                z-index: 100;
              }
          
              .btn-danger {
                position: relative;
                left: 50%;
                transform: translateX(-50%)
              }
        }
    }


    #aboutMe {
        padding-bottom: 50px;
        img {
            width: 60%;
            max-width: 400px;
            border: 4px red solid;

            @media screen and (min-width: 1000px) {
                width: 300px;
                margin-right: 20px;
            }
        }

        text-align: center;
        h5 {
            margin-top: 50px;
            margin-bottom: 25px;
            font-size: 25px;
            font-weight: 600;
            font-family: 'Itim', cursive;
        }

        .aboutMe-long {
            margin-top: 30px;
            @media screen and (min-width: 1000px) {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .aboutMe-txt {
                @media screen and (min-width: 1000px) {
                    max-width: 400px;
                    text-align: left;
                }
            }
        }
    }

    #contact {
        background-color: rgb(245, 245, 245);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;

        .infocard {
            height: 150px;
            width: 250px;
            border: 0.5px solid grey;
            border-radius: 5px;
            margin-bottom: 10px;
            box-shadow:  0px 0px 8px grey;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                box-shadow: none;
            }

            i {
                font-size: 60px;
                margin-right: 15px;
                margin-top: -10px;
                color: grey;
            }

            .contact-txt {
                h4 {
                    font-weight: 600;
                }
            }

            @media screen and (min-width: 1000px) { 
                margin: 20px 10px;
                width: 300px;
            }
        }

        .infocards {
            @media screen and (min-width: 1000px) {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    }

}