* {
margin: 0;
scroll-behavior: smooth;
box-sizing: border-box;
}

$headerfootercolor: rgb(6, 6, 104);

.scrolltoheader {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    background-color:rgb(6, 6, 104);
    cursor: pointer;
    border: 1px solid white;

    img {
        height: 50px;
        width: 50px;
    }
}

@import './header.scss';
@import './main.scss';
@import './footer.scss';