* {
  margin: 0;
  scroll-behavior: smooth;
}

.nav {
  width: 100vw;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 50px 5px 30px;
  color: white;
  font-size: 50px;
  position: fixed;
}

.nav .logo {
  color: white;
}

.nav .hamburger {
  border: 3px white solid;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.nav .hamburger .strich, .nav .hamburger .strich::before, .nav .hamburger .strich::after {
  background-color: white;
  height: 3px;
  width: 30px;
  position: relative;
  top: 24px;
  left: 10px;
}

.nav .hamburger .strich::before {
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
}

.nav .hamburger .strich::after {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
}

@media screen and (min-width: 1000px) {
  .nav .hamburger {
    display: none;
  }
}

.nav ul {
  width: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  display: none;
}

@media screen and (min-width: 1000px) {
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav ul li a:hover {
  color: red;
}

.image {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: -5;
}

.blackheaderimage {
  position: absolute;
  top: 0;
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity: 0.4;
  z-index: -1;
}

.headertxt {
  position: absolute;
  top: 200px;
  left: 100px;
  color: white;
  font-size: 80px;
}

.headertxt .txt1, .headertxt .txt2, .headertxt .txt3 {
  -webkit-animation-name: displaytxt;
          animation-name: displaytxt;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes displaytxt {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@keyframes displaytxt {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

.headertxt .red {
  position: absolute;
  background-color: red;
  width: 0%;
  height: 33%;
  top: 0;
  z-index: 10;
  -webkit-animation-name: balken;
          animation-name: balken;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes balken {
  0% {
    width: 0%;
  }
  50% {
    width: 40%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 40%;
  }
}

@keyframes balken {
  0% {
    width: 0%;
  }
  50% {
    width: 40%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 40%;
  }
}

.headertxt .txt2 {
  color: transparent;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.headertxt .red2 {
  position: absolute;
  height: 33%;
  width: 0%;
  background-color: red;
  z-index: 10;
  top: 33%;
  -webkit-animation-name: balken2;
          animation-name: balken2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes balken2 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

@keyframes balken2 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

.headertxt .txt3 {
  color: transparent;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.headertxt .red3 {
  position: absolute;
  height: 33%;
  width: 0%;
  background-color: red;
  z-index: 10;
  top: 66%;
  -webkit-animation-name: balken3;
          animation-name: balken3;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes balken3 {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 70%;
  }
}

@keyframes balken3 {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 70%;
  }
}

#main h2 {
  text-align: center;
  padding-top: 80px;
  font-size: 80px;
}

#main .htmlcssjs {
  text-align: center;
  padding-top: 50px;
}

#main .htmlcssjs div i {
  font-size: 300px;
}

#main .htmlcssjs div p {
  padding-bottom: 30px;
  font-size: 50px;
}

#main .htmlcssjs .fa-html5 {
  color: orange;
}

#main .htmlcssjs .fa-css3-alt {
  color: blue;
  margin-right: 20px;
}

#main .htmlcssjs .fa-sass {
  color: violet;
  margin-left: 20px;
}

#main .htmlcssjs .fa-js {
  color: yellow;
}

#main .htmlcssjs .jquery img {
  margin-top: -150px;
  margin-bottom: -100px;
}

#main .htmlcssjs .fa-git {
  color: brown;
}

#main #project {
  background-color: whitesmoke;
}

#main #project p {
  text-align: center;
  font-size: 30px;
  color: grey;
}

#main #project .einkaufsliste .txt {
  text-decoration: line-through;
}

#main #project .einkaufsliste .fa-trash-alt {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: red;
  z-index: 100;
}

#main #project .einkaufsliste .btn-danger {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */